/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region DEBUG */
.debug>* {
    border: 2px dashed lightpink;
}

.debug>* * {
    border: 2px dashed lightgreen;
}

.debug>header {
    min-height: 80px;
}

/* #endregion */

/* #region HEADER */
header {
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

/* #endregion */