/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.bg-green {
    background: #a2d39b;
}

.bg-grape {
    background: #61082b;
}

.bg-cyan {
    background: #0093ce;
}

.bg-red {
    background: #ff1c1c;
}

.bg-grey {
    background: #f5f5f5;
}

.bg-dark-red {
    background: #d5001f;
}

.bg-light-blue {
    background: #b4d0e7;
}

.bg-blue {
    background: #022481;
}

.bg-yellow {
    background: #ffd830;
}

/* #endregion */

/* #region GRID LAYOUT */
.container-big,
.container-small {
    margin: auto;
    padding: 0 10px;
}

.container-big {
    max-width: 1200px;
}

.container-small {
    max-width: 1000px;
}

.row {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-80 {
    width: 80%;
}

.col-100 {
    width: 100%;
}

/* #endregion */

/* #region BUTTON */
.btn {
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.btn-small {
    padding: 10px 16px;
}

.btn-big {
    padding: 10px 36px;
}

.btn-blue {
    color: #ffffff;
    background: #0061ff;
}

.btn-white {
    background: #ffffff;
}

.btn-border {
    border: 1px solid;
}

/* #endregion */

/* #region TYPOGRAPHY */
body,
.btn {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: clamp(12px, 1vw, 16px);
}

h2 {
    font-size: clamp(20px, 2.5vw, 40px);
}

h3 {
    font-size: clamp(12.5px, 1.56vw, 25px);
}

.btn,
.business-plan,
.input-radio small,
footer ul {
    font-size: clamp(11px, 0.88vw, 14px);
}

header a,
footer a {
    text-decoration: none;
}

header a {
    color: #000000;
}

header a:hover,
.business-plan .plan-resume-list .fa-solid.fa-check {
  color: #0063ff;
}

footer a:hover,
footer .language small:hover {
  text-decoration: underline;
}

h1 {
    font-size: clamp(40px, 5vw, 80px);
}

.hero i {
    font-size: clamp(25px, 3.13vw, 50px);
}


.business-plan .price {
    font-weight: 700;
}

.business-plan .col-main div:nth-child(3) {
    color: #b5b2b2;
}

.square-center,
footer .fa-solid {
    font-size: clamp(9px, 0.88vw, 12px);
}

.team-bottom h2 {
    color: #61082b;
}

.faq .cordion {
    font-weight: 700;
}

footer * {
    color: #ffffff;
}

footer .language * {
    color: #999999;
}

/* #endregion */

/* #region HEADER */
.header-left,
.header-right,
.header-top ul,
.header-top {
    display: flex;
}

.header-top {
    padding: 20px;
    background: #ffffff;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-top ul {
    padding: 10px 0;
}

.header-top ul li:not(:last-child) {
    margin: 0 40px 0 0;
}

.header-left .logo {
    height: 25px;
    margin: 8px 40px 0 0;
}

.header-top .btn {
    margin: 0 0 0 20px;
}

/* #region HERO */
.hero {
    background: #b4d0e7;
}

.container-big>.row {
    position: relative;
    margin: 0 0 -60px;
}

.hero h1 {
    padding: 104px 0 60px;
}

.hero .btn {
    margin: 34px 0;
}

.hero a {
    display: block;
}

.hero .fa-arrow-down {
    margin: 80px 0 0;
}

/* #endregion */

/* #endregion */

/* #region MAIN */
main {
    background: #ffffff;
    padding: 160px 0 150px;
}

.partner {
    margin: 150px 0 170px;
}

.feature {
    margin: 0 0 60px;
}

/* #region PLAN SECTION */
.business-plan .col-30,
.business-row {
    border: 1px solid #d0d0d0;
}

.business-plan .row {
    padding: 0 10px;
    gap: 48.2px;
}

.business-plan h2 {
    margin: 0 0 72px;
}

.input-radio input[type=radio] {
    margin: 0 0 48px;
}

.input-radio input[type='radio']:after {
    content: '';
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    top: -1px;
    left: -1px;
    display: inline-block;
    visibility: visible;
}

.input-radio input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border: 4px solid #0061ff;
    background-color: #ffffff;
    cursor: default;
}

.input-radio small {
    margin: 0 0 0 8px;
}

.business-plan .col-header,
.business-plan .row-header {
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
}

.business-plan .col-30>.col-header {
    padding: 12px 0;
}

.business-plan .col-30>.col-main {
    padding: 38px 28px 0;
}

.business-plan .col-main .price {
    margin: 26px 0 0;
}

.business-plan .col-main div:nth-child(3) {
    margin: 16px 0 0;
}

.business-plan .col-main li {
    display: flex;
}

.business-plan .col-main li:not(:last-child) {
    margin: 0 0 28px;
}

.business-plan .col-main li>i {
    padding: 4px 0 0;
    margin: 0 6px 0 0;
}

.business-plan .plan-service-list {
    margin: 54px 0;
}

.business-plan .col-main button {
    margin: 0 0 36px 0;
}

.business-plan .col-main hr {
    width: 20%;
    margin: 44px 0 55px;
    border-top: 1px solid #d0d0d0;
}

.plan-resume-list {
    margin: 36px 0 50px 0;
}

.business-row {
    margin: 50px 0 0;
}

.business-row .row-header {
    padding: 16px 0;
}

.business-row .row-main {
    padding: 28px;
}

.business-row .main-top {
    display: flex;
    justify-content: space-between;
}

.business-row .main-top h3 {
    align-self: flex-start;
}

.business-row .main-top.btn.btn-big.btn-blue {
    justify-content: flex-end;
    align-self: flex-end;
}

.business-row .row-main .price {
    margin: 20px 0 56px;
}

/* #endregion */

/* #region PARTNER SECTION */
.partner .col-60 {
    padding: 0 10px;
}

.partner .col-40 {
    padding: 50px 30px 0 46px;
}

.partner .col-40 p {
    margin: 18px 10px 34px 0;
}

/* #endregion */

/* #region FEATURE SECTION */
.feature h2 {
    margin: 0 0 64px;
}

.feature .row {
    margin: 0 0 50px;
}

.feature .text {
    padding: 0 48px 0 0;
}

.feature h3 {
    margin: 0 0 44px;
}

/* #endregion */

/* #region TEAM SECTION */
.team .container-small,
.team-center,
.team-square-small {
    display: flex;
}

.team .container-small {
    justify-content: space-between;
    align-items: flex-start;
}

.team-title {
    width: 600px;
}

.team-top {
    padding: 150px 0;
}

.team-top h2 {
    margin: 0 0 64px;
}

.team-square-big {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-center {
    padding: 46px;
    display: block;
}

.square-center img {
    max-width: 50%;
}

.square-center hr {
    width: 20%;
    margin: 40px 0;
}

.square-center p {
    margin: 0 0 56px;
}

.team-square-small {
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.team-square-small img {
    max-width: 50%;
    filter: invert(100%);
}

.team-square-small.bg-green {
    border: 15px solid #d1e9cd
}

.team-bottom {
    padding: 140px 0 134px;
    background: #b4d0e7;
}

.team-bottom .team-title {
    padding: 0 20px 0 0;
}

.team-bottom button {
    margin: 10px 0 0;
}

/* #endregion */

/* #region FAQ SECTION */
.faq {
    margin: 160px 0 149px;
}

.faq h2 {
    margin: 0 0 58px;
}

.faq .accordion {
    margin: 40px 0;
    padding: 0 50px 0 0;
    display: flex;
    justify-content: space-between;
}

/* #endregion */

/* #endregion */

/* #region FOOTER */
footer {
    background: #000000;
}

footer h3 {
    margin: 104px 0 30px;
}

footer ul {
    margin: 0 0 114px;
}

footer ul li:not(:last-child) {
    margin: 0 0 22px;
}

footer hr {
    width: 10%;
}

footer .language {
    margin: 50px 0 0;
}

/* #endregion */