/* #region RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */

/* #region GENERAL */
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* #endregion */

/* #region DEBUG */
.debug>* {
    border: 2px dashed lightpink;
}

.debug>* * {
    border: 2px dashed lightgreen;
}

.debug>header {
    min-height: 80px;
}

/* #endregion */

/* #region BUTTON */
.btn {
    padding: 10px 16px;
    background: transparent;
    border: transparent;
}

.btn-blue {
    color: #ffffff;
    background: #0061ff;
}

/* #endregion */

/* #region TYPOGRAPHY */
a {
    color: #000000;
    text-decoration: none;
}

/* #endregion */

/* #region HEADER */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-top {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
}

header ul {
    padding: 10px 0;
    display: flex;
}

header ul li:not(:last-child) {
    margin: 0 40px 0 0;
}

.header-left .logo {
    height: 25px;
    margin: 8px 40px 0 0;
}

header .btn {
    margin: 0 0 0 20px;
}

/* #endregion */